<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">WELCOME</a>
    <span class="form-inline">
        <a href=#><img src="../../assets/images/iconfinder_icons_exit2_1564506.svg" width="30" height="30" alt=""></a>
    </span>
</nav>
<div class="container pt-5">

    <form #UpdateForm="ngForm">
        <table class="table text-center table-striped">
            <thead class="thead-dark">
                <tr class="alignment text-uppercase">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>

            <tbody>
                <!-- <tr *ngFor="let taskdetail of tasks">-->
                <tr *ngFor="let subtask of subtasks;let i=index">
                    <th scope="row">{{subtask.subTaskId}}</th>
                    <td>{{subtask.subTaskTitle}}</td>
                    <td>{{subtask.subTaskDescription}}</td>
                    <td>{{subtask.startDate | date: "MM/dd/yy"}}</td>
                    <td>{{subtask.dueDate | date: "MM/dd/yy" }}</td>
                    
                    <td>
                        <progress-bar [progress]="subtask.progressPercentage" id="progress-bar"
                            [color-degraded]="{'0': '#ff0000',  '15': '#ed5107', '50': '#40bfc1', '70' : '#a8ff3e'}">
                        </progress-bar>
                        <input type="text" value="{{subtask.progressPercentage}}" id="progress-text"
                            style="display: none;" [(ngModel)]="subtask.progressPercentage" name="progress-text" >

                    </td>

                    <td>
                        <!-- <a routerLink="/"-->
                        <button type="button"  [disabled]="subtask.progressPercentage>100" class="btn btn-info btn-sm" (click)="update(i)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<!-- Modal 
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

  
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(updateForm.value)">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="no-border form-control " id="progress"
                                placeholder="Updated Progress" required ngModel name="progress">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
                    </div>
                </form>
            </div>
            
        </div>

    </div>
</div>-->